@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@400;600&display=swap');

html {
    background: var(--white-background);
    font-size: 62.5%;
}

:root {
    --white-background: #f5f5f5;
    --light-shadow: #fff;
    --dark-shadow: #dfdfdf;
    --text-color: #000;
}

body {
    height: 100vh;
}


main {
    height: 80%;
    width: 60%;
    margin: auto;
    border-radius: 2rem;
    box-shadow: -7px -7px 14px var(--light-shadow),
                7px 7px 14px var(--dark-shadow);
}

form {
    height: 20rem;
    width: 40rem;
}

.hide {
    display: none;
}

#query {
    background: var(--white-background);
    height: 4rem;
    width: 30rem;
    border-radius: 2rem;
    box-shadow: inset -7px -7px 14px var(--light-shadow),
                inset 7px 7px 14px var(--dark-shadow);
}

#search {
    background: var(--white-background);
    text-transform: uppercase;
    height: 4rem;
    width: 15rem;
    border-radius: 2rem;
    box-shadow: -7px -7px 14px var(--light-shadow),
                7px 7px 14px var(--dark-shadow);
}

#search:hover {
    box-shadow: inset -7px -7px 14px var(--light-shadow),
                inset 7px 7px 14px var(--dark-shadow);
}

#result {
    height: auto;
    width: 85%;
}

#flag {
    width: 200px;
    border-radius: 1rem;
}

#header {
    font-size: 3rem;
    font-weight: bold;
}

/*-----------------------------------------------*/

.font {
    color: var(--text-color);
    font-family: Quicksand, sans-serif;
    font-size: 2rem;
    border: none;
    text-align: center;
}

.flex-center-center {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.flex-space-around {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

@media(max-width: 80rem) {
    main {
        width: 80%;
    }
}